@page "/contacto"
@using GpchFrontend.Components

<link href="css/site.css" rel="stylesheet" />

<div class="contacto-wrapper">
    <FormularioContacto />

    <!-- Tarjeta institucional -->
    <div class="bloque-texto">
        <h3>Goerlich Pharma Chile Ltda.</h3>
        <p><strong>Dirección:</strong> Av. Providencia 2594, Of. 501, CP 7510007, Providencia. Región Metropolitana.</p>
        <p><strong>Teléfono:</strong> +56 2 2334 2270</p>
        <p><strong>Email:</strong> info@goerlich-pharma.cl</p>
        <p>
            <strong>Ubicación:</strong>
            <a href="https://maps.app.goo.gl/fB3xk9FVvWLPcLdF9" target="_blank">
                Ver en Google Maps
            </a>
        </p>
    </div>
</div>