@page "/"
@using GpchFrontend.Components
@inject GpchFrontend.Services.ThemeService Theme
@using GpchFrontend.Services

<link href="css/login.css" rel="stylesheet" />

<div class="gpch-page">
    <section class="gpch-bloque">

        <NavLink href="/">
            <img src="images/logo_gpch-solo-t.png" alt="GPCH Logo" class="logo" />
        </NavLink>

        <h2 class="brand" style="color:@TitleColor; text-shadow:@($"1px 1px 2px {TitleContrast}")">
            Goerlich Pharma Chile Ltda.
        </h2>

        <p class="subtitle" style="color:@ColorContraste">Seleccione un pétalo</p>

        <div class="flower-container">
            <ThemeFlower Size="300" />
        </div>
    </section>
</div>

@code {
    private string TitleColor = "#FFFFFF"; // valor inicial
    private string TitleContrast = "#FFFFFF"; // valor inicial
    private string ColorContraste = "#000000";

    protected override void OnInitialized()
    {
        Theme.OnThemeChanged += () =>
        {
            TitleColor = ThemePalette.GetTitleColor(Theme.TemaActual);
            ColorContraste = ThemePalette.GetContraste(Theme.TemaActual);
            TitleContrast = ThemePalette.GetTitleContrast(Theme.TemaActual);
            StateHasChanged(); // fuerza re-render
        };

        ColorContraste = ThemePalette.GetContraste(Theme.TemaActual);
        TitleColor = ThemePalette.GetTitleColor(Theme.TemaActual);
        TitleContrast = ThemePalette.GetTitleContrast(Theme.TemaActual);
    }
}
