@page "/"
@using GpchFrontend.Components

<link href="css/login.css" rel="stylesheet" />

<div class="gpch-page">
    <section class="gpch-bloque">
        <img src="images/logo_gpch-solo-t.png" alt="GPCH Logo" class="logo" />
        <h2 class="brand">Goerlich Pharma Chile Ltda.</h2>
        <p class="subtitle">Seleccione un pétalo</p>

        <div class="flower-container">
            <ThemeFlower Size="300" />
        </div>
    </section>

</div>
