@inject GpchFrontend.Services.ThemeService Theme
@using GpchFrontend.Services
@inject NavigationManager Nav

<header class="gpch-appbar" style="background-color:@ColorTema">
    <div class="appbar-content">
        <NavLink href="/" class="appbar-logo-link">
            <img src="images/logo_gpch-solo-t.png" alt="GPCH Logo" class="appbar-logo" />
        </NavLink>

        <nav class="appbar-nav">
            <a style="color:@ColorContraste" href="/">Inicio</a>
            <a style="color:@ColorContraste" href="/contacto">Contacto</a>
        </nav>
    </div>
</header>

@code {
    private string ColorTema = ThemePalette.GetColor("rojo");
    private string ColorContraste = "#000000";

    protected override void OnInitialized()
    {
        Theme.OnThemeChanged += ActualizarColor;
        ActualizarColor();
        Theme.OnThemeChanged += ActualizarContraste;
        ActualizarContraste();
        Nav.LocationChanged += (_, args) =>
        {
            if (args.Location.EndsWith("/"))
            {
                Theme.CambiarTema("azul");
            }
        };
    }

    private void ActualizarColor()
    {
        ColorTema = ThemePalette.GetColor(Theme.TemaActual);
        StateHasChanged();
    }
    private void ActualizarContraste()
    {
        var tema = Theme.TemaActual;
        ColorContraste = ThemePalette.GetContraste(tema);
        StateHasChanged();
    }
}
