@inject GpchFrontend.Services.ThemeService Theme
@using GpchFrontend.Services

<header class="gpch-appbar" style="background-color:@ColorTema">
    <div class="appbar-content">
        <img src="images/logo_gpch-solo-t.png" alt="GPCH Logo" class="appbar-logo" />
        <nav class="appbar-nav">
            <a href="/">Inicio</a>
            <a href="/legado">Legado</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </div>
</header>

@code {
    private string ColorTema = ThemePalette.GetColor("vital");

    protected override void OnInitialized()
    {
        Theme.OnThemeChanged += ActualizarColor;
        ActualizarColor();
    }

    private void ActualizarColor()
    {
        ColorTema = ThemePalette.GetColor(Theme.TemaActual);
        StateHasChanged();
    }
}
