@using Microsoft.AspNetCore.Components

<link href="css/appbar.css" rel="stylesheet" />

<header class="gpch-appbar">
    <div class="appbar-content">
        <img src="images/logo_gpch-solo-t.png" alt="GPCH Logo" class="appbar-logo" />
        <nav class="appbar-nav">
            <a href="/">Inicio</a>
            <a href="/legado">Legado</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </div>
</header>

